@import '../StyleVariables/StyleVariables';

* {
  //transition for color and background-color
  transition: color 0.7s ease-out, background-color 0.7s ease-out;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: $font-family;
  font-size: 1rem;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

h5 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

h6 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1168px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 3.3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.65rem;
  }
}

.page-header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;

  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.5vmin;

  margin-top: 4.5rem;

  @media (max-width: 1100px)
  {
    margin-top: 4rem;
  }

  @media (max-width: 800px)
  {
    margin-top: 3.5rem;
  }

  position:relative;
  top: 0;
  left: 0;

  //background-color: white;

  h1 {
      color: var(--primary-color-1);
      text-align: center;
      span {
          font-size: 200%;
          
      }
      text-shadow: -0.4rem 0.4rem var(--accent-color-1);

      @media (max-width: 1168px) {
        text-shadow: -0.3rem 0.3rem var(--accent-color-1);
      }
      @media (max-width: 568px) {
        text-shadow: -0.2rem 0.2rem var(--accent-color-1);
      }

      margin-bottom: 1rem;
  }
  h2 {
      color: var(--accent-color-1);
      text-align: center;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
